<%= form_for([@question, @question.answers.build]) do |f| %>

  <div class="large-4 columns">
    <%= "Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="large-12 columns">
    <%= "Your Answer" %>
    <%= f.text_area :body %>
    <%= f.submit %>
  </div>

<% end %>
