<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Stack Underflow</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <div class="row">
    <div class= "columns small-2 left-block"> </div>

          <div class="icon-bar side-bar">
            <a href="/questions">Home</a>
            <a href="/questions/new">Ask</a>
          </div>

    <body>
      <div class="columns small-10 end">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>


      <%= yield %>

      </div>
    </body>
  </div>
</html>
